:root {
    --color-primary: #3dce88; /** default: #4A90E2 */
    --color-secondary: #0d6755; /** default: #2563EB */

    /** Other colors (note: some are in RGB to allow for dynamic opacity) */
    --color-dark-accent-primary-rgb: 74, 226, 144; /** default: 74, 144, 226 */
    --color-dark-accent-secondary-rgb: 37, 235, 99; /** default: 37, 99, 235 */
    --color-muted-primary: #37b82e; /** default: #2e6bb8 */
    --color-muted-secondary: #288a1d; /** default: #1d4a8a */
    --color-muted-dark-primary: #47a81e; /** default: #1e5ba8 */
    --color-muted-dark-secondary: #054706; /** default: #052147 */
    --color-muted-shadow-rgb: 30, 168, 91; /** default: 30, 91, 168 */
}